<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/product.css" />
  </head>
  <body>
    <nav>
      <a class='navLink' href="/"><img src="/img/BrandLogo.jpg" alt="logo" /> </a>
      <div class="login">
            {{#if user}}
                <a class="btn-login" href="/current">Mis datos</a>
                <a class="btn-login" href="/logout">Salir</a>
            {{else}}
            <a class="btn-login" href="/login">Iniciar sesion</a>
            <a class="btn-login" href="/register">Registrarse</a>
            {{/if}}
        </div>
    </nav>
    <div>
      {{#if user.isAdmin}}
        <h1>Administrador</h1>
      {{/if}}
    </div>
    <div class='itemDetail'>
      <div class='img-container'>
        <img src={{product.thumbnail}} alt="{{product.title}}" />
      </div>
        
      <div class='itemDetail-body'>
      <h5 class='item-title'>{{product.title}}</h5>
      <p class='item-price'>${{product.price}}</p>
      <div class='specs'>
        <p class='item-description'>{{product.description}}</p>
        <p class='items-category'>{{product.category}}</p>
      </div>
      </div>
    </div>
  </body>
    <script src="/js/product.js"></script>
</html>