<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/products.css" />
  </head>
  <nav>
    <a class='navLink' href="/"><img src="/img/BrandLogo.jpg" alt="logo" /> </a>
    <div class="login">
      {{#if user}}
        <a class="btn-login cartID" id="{{user.cart}}" href="/current">Mis datos</a>
        <a class="btn-login" href="/logout">Salir</a>
      {{else}}
        <a class="btn-login" href="/login">Iniciar sesion</a>
        <a class="btn-login" href="/register">Registrarse</a>
      {{/if}}
    </div>
  </nav>
  <body>
    <div>
      {{#if user.isAdmin}}
        <h1>Administrador</h1>
      {{/if}}
    </div>
    <h1>Carrito</h1>
    
      <div class='checkout'>
        <p>Se te han enviado los datos de tu compra al correo {{user.email}}</p>
        <p>Codigo del ticket: <b>#{{ticket.code}}</b></p>
        <p>Fecha y hora de la compra: {{ticket.purchase_datetime}}</p>
        <p><b>TOTAL ABONADO</b>: ${{ticket.amount}}</p>
      </div>
  </body>
  <script src="/js/cart.js"></script>
</html>


